body{
    font-family: Arial, Helvetica, sans-serif;
}
#chat{
    display: none;
    flex-direction: column;
}
#mensagens{
    height: 600px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.mensagem{
    margin: 5px 0px;
    padding: 0px 10px;
    border: 2px solid lightgray;
    border-radius: 15px;
}